body {
    overflow-x: hidden;
}

.header_div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 50px;
    background-color: rgb(37, 37, 37);
    border-bottom: 3px solid #40b7d3;
}

.header_p,
a {
    text-decoration: none;
    color: #40b7d3;
}

a:hover {
    text-decoration: underline;
}

.exit_p {
    color: red;
    cursor: pointer;
}

.loja_do_hardware_h1 {
    color: #40b7d3;
    width: 150px;
    text-align: left;
    margin-bottom: 0;
    font-size: 25px;
}

@media (max-width: 539px) {
    .loja_do_hardware_h1 {
        font-size: 15px;
    }
}

.header_logo {
    width: 200px;
    height: auto;
}